* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

div#imprimindo {
    width: 100%;
    height: 100vh;
}

div#imprimindo h2 {
    margin-top: 50px;
    font-size: 1.8em;
    text-align: center;
}

header {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

div#div-empresa,
div#div-ticket {
    border-bottom: 1px dashed black;
}

p#data {
    width: 50%;
    float: left;
}

p#hora {
    width: 50%;
    float: right;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 205px;
    max-width: 205px;
}

p#placa {
    font-weight: bold;
}

@media print {

    .hidden-print,
    .hidden-print *,
    #imprimindo {
        display: none !important;
    }
}